@using MVC_Data.Models;
@using MVC_Data.Models.ViewModel;
@model MVC_Data.Controllers.PeopleController.CreatePersonOrPeopleViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <label asp-for="People.FilterText"></label>
    <input asp-for="People.FilterText" name="People.FilterText" />
    <button type="submit">Filter</button>
</form>

<form asp-action="Create" method="post">
    <label asp-for="CreatePerson.Name"></label>
    <input asp-for="CreatePerson.Name" />
    <span asp-validation-for="CreatePerson.Name"></span>

    <label asp-for="CreatePerson.MobilePhone"></label>
    <input asp-for="CreatePerson.MobilePhone" />
    <span asp-validation-for="CreatePerson.MobilePhone"></span>

    <label asp-for="CreatePerson.City"></label>
    <input asp-for="CreatePerson.City" />
    <span asp-validation-for="CreatePerson.City"></span>

    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>MobilePhone</th>
            <th>City</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.People.PersonList != null)
        {
            @foreach (Person person in Model.People.PersonList)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.MobilePhone</td>
                    <td>@person.City</td>
                    <td><a asp-action="Delete" asp-route-id="@person.Id">delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>